.drag_input
{
    width: 50%;
    max-width: 680px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: relative;
    padding: 100px 20px;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;

    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.drag_input.is-dragover
{
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;
}
.dragndrop_span,
.dragndrop_icon
{
    display: none;
}
.drag_input .dragndrop_span
{
    display: inline;
}
.drag_input .dragndrop_icon
{
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}


.dragndrop_file
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.dragndrop_file + label
{
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}
.dragndrop_file + label:hover strong,
.dragndrop_file:focus + label strong,
.dragndrop_file.has-focus + label strong
{
    color: #39bfd3;
}
.dragndrop_file:focus + label,
.dragndrop_file.has-focus + label
{
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}