$black: #3B3B3D; // headers, captions, etc.
$dark-gray: #636266; // shadows on light-grey background
$medium-gray: #7E7C82;
$light-gray: #CCCCCC;
$white: #F4F4F4; // light text, card borders, chat messages, etc.

$purple-light: #BD9DCC; // primary accents, nav_btns, etc.
$purple-medium: #9C81A8; 
$purple-dark: #8E7599;

$blue-light: #0683E2; // play cards, important text, secondary accents
$blue-medium: #0677CE;
$blue-dark: #056BBA;

$green-light: #12B780; // judge cards, important text, secondary accents
$green-medium: #10A070;
$green-dark: #0E8C62;

$background-v1: #D6CDD8;
$background-v2: #C6C5E5;

// font-family: 'Quicksand', sans-serif;
// font-family: 'Raleway', sans-serif;

$nav_btn_margin: 10px;

$popup-opacity: 0.4;