@import "./_variables.scss";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

$card-width: 1;
$card-height: 1.4;
$card-margin-top: 0.1;
$card-margin-bottom: 0.1;
$card-margin-side: 0.1;
$card-slot-width: 1.2;
$card-area-height: 1.6;
$card-info-area-height: 0.3;
$card-slot-height: 1.9;

$jmodal-scale: 1.2;

@mixin card_bin() {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
}

.game_card_bin {
	@include card_bin;

	> .card_slot {
		height: 37.5vh;
		width: calc(37.5vh * #{$card-slot-width} / #{$card-slot-height});
	}
}

.jmodal_card_bin {
	@include card_bin;
	
	> .card_slot {
		height: calc(#{$jmodal-scale} * 37.5vh * #{$card-area-height} / #{$card-slot-height});
		width: calc(#{$jmodal-scale} * 37.5vh * #{$card-slot-width} / #{$card-slot-height});
	}
}

.pmodal_card_bin {
	@include card_bin;

	> .card_slot {
		height: 60vh;
		width: calc(60vh * #{$card-slot-width} / #{$card-area-height});
	}
}

.profile_card_bin {
	@include card_bin;
	justify-content: flex-start;

	> .card_slot {
		width: calc((100vw - 17px - 2 * 50px) / 4);
		height: calc((100vw - 17px - 2 * 50px) / 4 * #{$card-area-height} / #{$card-slot-width});
	}
}

.jpmodal_card_bin {
	@include card_bin;

	> .card_slot {
		height: 80vh;
		width: calc(80vh * #{$card-slot-width} / #{$card-area-height});
	}
}

@media (max-aspect-ratio: 63/38) { // optimal is 63/38
	.game_card_bin {
		> .card_slot {
			width: calc(100vw / 7);
			height: calc((100vw / 7) * #{$card-slot-height} / #{$card-slot-width});
		}
	}

	.jmodal_card_bin {
		> .card_slot {
			width: calc(#{$jmodal-scale} * 100vw / 7);
			height: calc(#{$jmodal-scale} * (100vw / 7) * #{$card-area-height} / #{$card-slot-width});
		}
	}
}

@media (max-aspect-ratio: 21/19) { // optimal is 21/19
	.game_card_bin {
		> .card_slot {
			height: 25vh;
			width: calc(25vh * #{$card-slot-width} / #{$card-slot-height});
		}
	}

	.jmodal_card_bin {
		> .card_slot {
			height: calc(#{$jmodal-scale} * 25vh * #{$card-area-height} / #{$card-slot-height});
			width: calc(#{$jmodal-scale} * 25vh * #{$card-slot-width} / #{$card-slot-height});
		}
	}
}

.card_slot {

	> .card_area {
		position: relative;
		height: calc(100% * #{$card-area-height} / #{$card-slot-height});
		width: 100%;

		&:only-child {
			height: 100%;
		}

		> * {
			position: absolute;
			left: calc(100% * #{$card-margin-side} / #{$card-slot-width});
			right: calc(100% * #{$card-margin-side} / #{$card-slot-width});
			top: calc(100% * #{$card-margin-top} / #{$card-area-height});
			bottom: calc(100% * #{$card-margin-bottom} / #{$card-area-height});
		}
	}

	> .card_info_area {
		height: calc(100% * #{$card-info-area-height} / #{$card-slot-height});
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		> .player_info {
			transform: scale(0.50, 0.50);
			background-color: $purple-light;
			display: flex;
			width: 360px;
			border-radius: 15px;
			box-shadow: 0px 4px 0px $purple-dark;
		}
	}
}

// resizing player info tiles cause we're too lazy to make this continuous gottem
@media (max-aspect-ratio: 32/19) {
  .card_slot > .card_info_area > .player_info {
    transform: scale(0.45, 0.45);
  }
}

@media (max-aspect-ratio: 28/19) {
  .card_slot > .card_info_area > .player_info {
    transform: scale(0.4, 0.4);
  }
}

@media (max-aspect-ratio: 25/19) {
  .card_slot > .card_info_area > .player_info {
    transform: scale(0.35, 0.35);
  }
}

@media (max-aspect-ratio: 22/19) {
  .card_slot > .card_info_area > .player_info {
    transform: scale(0.3, 0.3);
  }
}

$content_border_width: 2px;
$content_border_radius: 5px;

@mixin card($primary, $shadow) {
	border-radius: 7%/5%;
	background-color: $primary;
	background-image: linear-gradient(to bottom right, lighten($primary, 5%), $primary);
	box-shadow: 1px 3px 0px $shadow;

	> [class$='content'] {
		background-color: $white;
		border-style: solid;
		border-color: $shadow;
		border-width: #{$content_border_width};
		border-radius: #{$content_border_radius};
	}
}

.jcard {
	@include card($green-light, $green-dark);

	> .content {
		position: absolute;
		width: calc(100% - 2 * 7%);
		height: 90%;
		left: calc(7% - #{$content_border_width});
		top: calc(5% - #{$content_border_width});
		display: flex;
		justify-content: center;
		align-items: center;
		overflow-wrap: break-word;

		> * {
			width: 90%;
            height: 80%;
		}


	}
}

.pcard {
	@include card($blue-light, $blue-dark);

	> .image_content {
		position: absolute;
		width: calc(100% - 2 * 7%);
		height: 70%;
		left: calc(7% - #{$content_border_width});
		top: calc(4% - #{$content_border_width});
		overflow: hidden;

		> * {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	> .caption_content {
		position: absolute;
		width: calc(100% - 2 * 7%);
		height: 19%;
		left: calc(7% - #{$content_border_width});
		bottom: calc(3% - #{$content_border_width});
		
		align-items: center;
		justify-content: center;
		overflow-wrap: break-word;
		display: flex;


		> * {
			width: 90%;
            height: 80%;
		}
	}
}

.pcard_editor {
	@extend .pcard;

	> .caption_content {
		> textarea {
			width: 90%;
			height: 80%;
			background-color: $white;
			border: none;
			resize: none;
			font-family: 'Raleway', sans-serif;
			text-align: center;
			font-size: 1em;
			color: $black;

			&:focus {
				outline: none;
			};
		}
	}
}

@mixin card_back($primary, $shadow) {
	border-radius: 7%/5%;
	background-color: $white;
	box-shadow: 1px 3px 0px $shadow;
	display: flex;
	justify-content: center;
	align-items: center;

	> .content {
		width: calc(100% - 2 * 7%);
		height: calc(100% - 2 * 5%);
		background-color: $primary;
		background-image: linear-gradient(to bottom right, lighten($primary, 5%), $primary);
		border-style: solid;
		border-color: $shadow;
		border-width: #{$content_border_width};
		border-radius: #{$content_border_radius};
		display: flex;
		justify-content: center;
		align-items: center;

		> img {
			width: 80%;
			height: auto;
		}
	}
}

.jcard_back {
	@include card_back($green-light, $green-dark);
}

.pcard_back {
	@include card_back($blue-light, $blue-dark);
}

@mixin card_empty($primary) {
	border-radius: 7%/5%;
	border-style: dashed;
	border-width: 2px;
	border-color: $primary;
}

.jcard_empty {
	@include card_empty($green-light);
}

.pcard_empty {
	@include card_empty($blue-light);
}

.jcard_prompt {
	font-size: 16px;
}


//save buttons!!!

.save_btn_container {
	height: 32px;
	width: 32px;
	border-radius: 16px;
	background-color: $white;
	position: absolute;

	top: 6px;
	left: 6px;

	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: 1px 2px $dark-gray;

}



$save-font-size: 22px;

#unsaved_status_btn {
	font-size: $save-font-size;

	color: $blue-light;

	&:hover {
		cursor: pointer;
	}
}

#saving_status_btn {
	transform: scale(0.40, 0.40);
	&:hover {
		cursor: pointer;
	}

	position: absolute;
	top: -4px;
	left: -4px;

}

#saved_status_btn {
	font-size: $save-font-size;

	color: $green-light;

}




.lds-spinner {

  display: inline-block;
  position: relative;
  width: $save-font-size;
  height: $save-font-size;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  background: $blue-light;
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;


}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
