@import "./_variables.scss";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

$card-width: 1;
$card-height: 1.4;
$card-margin-top: 0.1;
$card-margin-bottom: 0.1;
$card-margin-side: 0.1;
$card-slot-width: 1.2;
$card-area-height: 1.6;
$card-info-area-height: 0.3;
$card-slot-height: 1.9;

$jmodal-scale: 1.2;

@mixin card_bin() {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.game_card_bin {
	@include card_bin;

	> .card_slot {
		height: 37.5vh;
		width: calc(37.5vh * #{$card-slot-width} / #{$card-slot-height});
	}
}

.jmodal_card_bin {
	@include card_bin;
	
	> .card_slot {
		height: calc(#{$jmodal-scale} * 37.5vh * #{$card-area-height} / #{$card-slot-height});
		width: calc(#{$jmodal-scale} * 37.5vh * #{$card-slot-width} / #{$card-slot-height});
	}
}

.pmodal_card_bin {
	@include card_bin;

	> .card_slot {
		height: 60vh;
		width: calc(60vh * #{$card-slot-width} / #{$card-area-height});
	}
}

@media (max-aspect-ratio: 63/38) { // optimal is 63/38
	.game_card_bin {
		> .card_slot {
			width: calc(100vw / 7);
			height: calc((100vw / 7) * #{$card-slot-height} / #{$card-slot-width});
		}
	}

	.jmodal_card_bin {
		> .card_slot {
			width: calc(#{$jmodal-scale} * 100vw / 7);
			height: calc(#{$jmodal-scale} * (100vw / 7) * #{$card-area-height} / #{$card-slot-width});
		}
	}
}

@media (max-aspect-ratio: 21/19) { // optimal is 21/19
	.game_card_bin {
		> .card_slot {
			height: 25vh;
			width: calc(25vh * #{$card-slot-width} / #{$card-slot-height});
		}
	}

	.jmodal_card_bin {
		> .card_slot {
			height: calc(#{$jmodal-scale} * 25vh * #{$card-area-height} / #{$card-slot-height});
			width: calc(#{$jmodal-scale} * 25vh * #{$card-slot-width} / #{$card-slot-height});
		}
	}
}

.card_slot {
	> .card_area {
		position: relative;
		height: calc(100% * #{$card-area-height} / #{$card-slot-height});
		width: 100%;

		&:only-child {
			height: 100%;
		}

		> * {
			position: absolute;
			left: calc(100% * #{$card-margin-side} / #{$card-slot-width});
			right: calc(100% * #{$card-margin-side} / #{$card-slot-width});
			top: calc(100% * #{$card-margin-top} / #{$card-area-height});
			bottom: calc(100% * #{$card-margin-bottom} / #{$card-area-height});
		}
	}

	> .card_info_area {
		height: calc(100% * #{$card-info-area-height} / #{$card-slot-height});
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		> .player_info {
			transform: scale(0.50, 0.50);
			background-color: $purple-light;
			display: flex;
			width: 360px;
			border-radius: 15px;
			box-shadow: 0px 4px 0px $purple-dark;
		}
	}
}

$content_border_width: 2px;
$content_border_radius: 5px;

@mixin card($primary, $shadow) {
	border-radius: 7%/5%;
	background-color: $primary;
	box-shadow: 1px 3px 0px $shadow;

	> [class$='content'] {
		background-color: $white;
		border-style: solid;
		border-color: $shadow;
		border-width: #{$content_border_width};
		border-radius: #{$content_border_radius};
	}
}

.jcard {
	@include card($green-light, $green-dark);

	> .content {
		position: absolute;
		width: calc(100% - 2 * 7%);
		height: 90%;
		left: calc(7% - #{$content_border_width});
		top: calc(5% - #{$content_border_width});
	}
}

.pcard {
	@include card($blue-light, $blue-dark);

	> .image_content {
		position: absolute;
		width: calc(100% - 2 * 7%);
		height: 70%;
		left: calc(7% - #{$content_border_width});
		top: calc(4% - #{$content_border_width});
		overflow: hidden;

		> img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	> .caption_content {
		position: absolute;
		width: calc(100% - 2 * 7%);
		height: 19%;
		left: calc(7% - #{$content_border_width});
		bottom: calc(3% - #{$content_border_width});
	}
}

@mixin card_back($primary, $shadow) {
	border-radius: 7%/5%;
	background-color: $white;
	box-shadow: 1px 3px 0px $shadow;
	display: flex;
	justify-content: center;
	align-items: center;

	> .content {
		width: calc(100% - 2 * 7%);
		height: calc(100% - 2 * 5%);
		background-color: $primary;
		border-style: solid;
		border-color: $shadow;
		border-width: #{$content_border_width};
		border-radius: #{$content_border_radius};
		display: flex;
		justify-content: center;
		align-items: center;

		> img {
			width: 80%;
			height: auto;
		}
	}
}

.jcard_back {
	@include card_back($green-light, $green-dark);
}

.pcard_back {
	@include card_back($blue-light, $blue-dark);
}

@mixin card_empty($primary) {
	border-radius: 7%/5%;
	border-style: dashed;
	border-width: 2px;
	border-color: $primary;
}

.jcard_empty {
	@include card_empty($green-light);
}

.pcard_empty {
	@include card_empty($blue-light);
}

.jcard_prompt {
	font-size: 16px;
}


/*
.card_empty {
	border-radius: 10px;
	border-style: dashed;
}

.jcard_empty {
	@extend .card_empty;

	border-color: $green-light;
}

.card_info {

}
.card_object {
	
}

.card_general {
	height: 80%;
	width: 80%;
}

.card_small {
	@extend .card_general;
}

.card_large {

}

.card_front {

	@extend .card_general;

}

.card_back {

	@extend .card_general;
}

.card_empty {

	@extend .card_general;	

	margin: auto;

	border-radius: 10px;

	border-style: dashed;

}


// START OF JCARD TYPES:

.jcard_bin {
	@extend .card_bin;
	height: 100%;
	width: 100%;
	justify-content: center;
}

.jcard_slot {
	@extend .card_slot;
	width: 28%;

}

.jcard_object {
	@extend .card_object;

}


.jcard_info {
	@extend .card_info;


}

.jcard_small {
	@extend .card_small;

}

.jcard_large {
	@extend .card_large;

	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: $white;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-radius: 10px;
	border-color: $green-light;
	border-width: 10px;
	box-shadow: 1px 3px 0px $green-dark;

	margin: 15px;

}

.jcard_front {


}

.jcard_back {
	@extend .card_back;

}

.jcard_empty {
	@extend .card_empty;

	border-color: $green-light;
}


//START OF PCARD TYPES

.pcard_bin {
	@extend .card_bin;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;

	justify-content: center;
	align-content: center;


}

.pcard_slot {
	@extend .card_slot;
	flex: 0 1 10%;

	width: 14%;

}

.pcard_object {
	@extend .card_object;

}


.pcard_info {
	@extend .card_info;

}

.pcard_small {
	@extend .card_small;

}

.pcard_large {
	@extend .card_large;
}

.pcard_front {
	@extend .card_front;

}

.pcard_back {
	@extend .card_back;


}

.pcard_empty {
	@extend .card_empty;

	border-color: $blue-light;


}

// modified player info!!

.pcard_info .player_info {

	transform: scale(0.45, 0.45);

	border-width: 2;
	background-color: $purple-light;
	display: flex;
	width: 360px;
	border-radius: 15px;

	box-shadow: 0px 4px 0px $purple-dark;


}

.jcard_info .player_info {
	transform: scale(0.45, 0.45);

	border-width: 2;
	background-color: $purple-light;
	display: flex;
	width: 360px;
	border-radius: 15px;

	box-shadow: 0px 4px 0px $purple-dark;
}
*/