@import "./_variables.scss";
@import "./modal.scss";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

.modal_container_card {
	@extend .modal_container;
	height: 600px;
  	width: 400px;
}

.modal_contents_card {
  @extend .modal_contents;
  background-color: $background-v1;
  height: 540px;
  width: 360px;
}








