.chatLayer {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    --chat-message-border-radius-outer: 15px;
    --chat-message-border-radius-inner: 5px;
    --chat-message-border-radius-bubble-base: 10px;
    --chat-message-color-self: green;
    --chat-message-color-other: blue;
    --chat-message-bg-color: white;
}

.chatColumn {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 89px; /*based on gchat constant margin to right of chat=351-262px*/
    width: 262px;
}

.chatBox {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 380px;
    border-width: 0;
    border-radius: 5px 5px 0px 0px;
}

.chatBox-titleBar {
    position: relative;
    width: 100%;
    height: 9.5%;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}

.chatBox-history {
    position: relative;
    width: 100%;
    height: 80%;
    background-color: var(--chat-message-bg-color);
    display: block;
    overflow-y: scroll;
}

.messageRow-outer {
    position: relative;
    width: 100%;
    background-color: var(--chat-message-bg-color);
    margin-bottom: 5px;
}

.messageRow-tight {
    position: relative;
    width: 80%;
    border-radius: var(--chat-message-border-radius-outer);
    background-color: var(--chat-message-color-other);
}

.messageRow-tight:not(.message-last-in-group) {
    background-color: var(--chat-message-bg-color);
}

.messageRow-tight.message-sent-from-self {
    left: 18%;
    background-color: var(--chat-message-bg-color);
}

.messageRow-left {
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: var(--chat-message-bg-color);
    border-radius: 0 0 var(--chat-message-border-radius-bubble-base) 0;
}

.message-sent-from-self .messageRow-left {
    border-radius: 0;
}

.message-avatar-outer {
    position: absolute;
    left: 10%;
    width: 80%;
    padding-top: 80%;
    height: 0;
    bottom: 0;
}

.messageRow-tight:not(.message-last-in-group) .message-avatar-outer,
.messageRow-tight.message-sent-from-self .message-avatar-outer {
    display: none;
}

.message-avatar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 100%;
}

.messageRow-right {
    position: relative;
    left: 20%;
    width: 80%;
    height: 100%;
    background-color: var(--chat-message-bg-color);
    border-radius: 0 var(--chat-message-border-radius-outer) var(--chat-message-border-radius-outer) var(--chat-message-border-radius-outer);
}

.messageRow-inner {
    position: relative;
    min-height: 34px; /* TODO: make variables to calculate.8*.2*.8*width */
}

.message-sent-from-other .messageRow-inner {
    background-color: var(--chat-message-color-other);
    border-radius: var(--chat-message-border-radius-inner) var(--chat-message-border-radius-outer) var(--chat-message-border-radius-outer) var(--chat-message-border-radius-inner);
}

.message-sent-from-self .messageRow-inner {
    background-color: var(--chat-message-color-self);
    border-radius: var(--chat-message-border-radius-outer) var(--chat-message-border-radius-inner) var(--chat-message-border-radius-inner) var(--chat-message-border-radius-outer);
}

.message-sent-from-self.message-first-in-group .messageRow-inner {
    border-top-right-radius: var(--chat-message-border-radius-outer);
}

.message-sent-from-self.message-last-in-group .messageRow-inner {
    border-bottom-right-radius: var(--chat-message-border-radius-outer);
}

.message-sent-from-other.message-first-in-group .messageRow-inner {
    border-top-left-radius: var(--chat-message-border-radius-outer);
}

.message-sent-from-other.message-last-in-group .messageRow-inner {
    border-bottom-left-radius: 0;
}

.message {
    margin: 0;
    display: block;
    padding: 2px;
}

.chatBox-entry {
    position: relative;
    width: 100%;
    height: 10.5%;
    background-color: white;
}