@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
.player_list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h1 {
  font-family: raleway, sans-serif;
}

div {
  color: #3B3B3D;
}

.player_info:hover {
  cursor: pointer;
}

.player_list .player_info {
  border-width: 2;
  background-color: #BD9DCC;
  display: flex;
  width: 300px;
  border-radius: 15px;
  margin: 7px;
  box-shadow: 0px 4px 0px #8E7599;
  transform: scale(0.9, 0.9);
}

.avatar_container {
  padding: 10px;
  width: 80px;
  height: 80px;
  flex: 1;
}

.cropped_avatar {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  overflow: hidden;
}

.player_details {
  padding: 5px;
  flex: 6;
}

.player_media {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: center;
  flex: 1;
}

.user_name {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  text-align: left;
  text-overflow: ellipsis;
}
.user_name:hover {
  cursor: pointer;
}

.player_other {
  display: flex;
  flex-direction: row;
}

.score_icon {
  height: 35px;
  width: 35px;
  margin-top: 2px;
}

.score {
  display: flex;
  flex: 1;
  padding: 2px;
  justify-content: flex-start;
}

.player_score {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 4px;
  margin-right: 10px;
}

.gray-out {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.fb_btn {
  background-color: #3C5A99;
  font-size: 25px;
  width: 25px;
  height: 25px;
  color: #F4F4F4;
  padding: 4px;
  box-shadow: 0px 2px 0px #636266;
  border-radius: 6px;
  margin-right: 16px;
}
.fb_btn:hover:not(.gray-out) {
  cursor: pointer;
}

.insta_btn {
  box-shadow: 0px 2px 0px #636266;
  font-size: 25px;
  color: #F4F4F4;
  padding: 4px;
  width: 25px;
  height: 25px;
  margin: 0px 0px;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  border-radius: 10px;
}
.insta_btn:hover:not(.gray-out) {
  cursor: pointer;
}

html, body, #root, .fill_parent {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.timer {
  font-size: 30px;
  color: #3B3B3D;
  background-color: #BD9DCC;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 0px 0px #9C81A8;
  width: 120px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable:hover {
  cursor: pointer;
}

.green_home_btn {
  color: #F4F4F4;
  font-size: 20px;
  background-color: #12B780;
  box-shadow: 0px 5px 0px #10A070;
  margin: 1em auto;
  padding: 10px;
  text-align: center;
  width: 80px;
  border-radius: 0.4em;
  text-decoration: none;
}
.green_home_btn:hover {
  background: #10A070;
  box-shadow: 0 5px #0E8C62;
  cursor: pointer;
}
.green_home_btn:active {
  background-color: #10A070;
  box-shadow: 0 2px #0E8C62;
  transform: translateY(3px);
}

.save_btn {
  color: #F4F4F4;
  font-size: 25px;
  background-color: #0683E2;
  box-shadow: 0px 5px 0px #0677CE;
  margin: 1em auto;
  padding: 10px;
  text-align: center;
  width: 150px;
  border-radius: 0.4em;
  text-decoration: none;
}
.save_btn:hover {
  background: #0677CE;
  box-shadow: 0 5px #056BBA;
  cursor: pointer;
}
.save_btn:active {
  background-color: #0677CE;
  box-shadow: 0 2px #056BBA;
  transform: translateY(3px);
}

.game_page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.game_page_row1 {
  width: 100%;
  flex: none;
  display: flex;
  flex-direction: row;
}

.timer_section {
  flex: 1 0 25%;
}

.judge_section {
  flex: 2 0 50%;
}

#alert {
  background-color: #E8836D;
  box-shadow: 0px 3px 0px 0px #CE7561;
  color: #F4F4F4;
  width: 280px;
}

.notification_section {
  flex: 1 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification_section > .notification {
  padding: 10px 10px 5px;
  background-color: #BD9DCC;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #3B3B3D;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 0px 0px #9C81A8;
  z-index: 1000;
}
.notification_section > .notification#alert {
  z-index: 900;
}
.notification_section > .notification > .home_btn {
  font-size: 18px;
  width: 80px;
  display: block;
}

.game_page_row2 {
  width: 100%;
  flex: 1 0;
  justify-content: center;
}
.game_page_row2 .game_card_bin {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  /* IE */
  -moz-transform: translateY(-50%);
  /* Firefox */
  -webkit-transform: translateY(-50%);
  /* Safari and Chrome */
  -o-transform: translateY(-50%);
}

.game_page_row3 {
  width: 100%;
  height: 25%;
  flex: none;
  display: flex;
  justify-contents: center;
  align-items: center;
}

.game_code_section {
  flex: 1 0 25%;
  align-items: center;
  justify-content: center;
}
.game_code_section > * {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #3B3B3D;
  font-size: 20px;
  width: 120px;
  background-color: #BD9DCC;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 0px 0px #9C81A8;
}

.user_actionables {
  flex: 2 0 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.chat_box_section {
  flex: 2 0 25%;
}

@media (max-aspect-ratio: 21/19) {
  .game_page_row1 {
    height: 30%;
  }

  .game_page_row2 {
    height: 70%;
  }

  .game_code_section > * {
    font-size: 14px;
    width: 80px;
  }

  .timer {
    font-size: 22px;
    width: 80px;
    padding: 5px;
  }
}
@media (max-aspect-ratio: 22/19) {
  .notification_section {
    flex: 1 0 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .notification_section > .notification {
    font-size: 18px;
    top: 20px;
    right: 20px;
    width: 120px;
  }

  #alert {
    width: 120px;
    padding: 8px;
  }
}
.select_pcard_btn {
  position: relative;
  top: 20px;
  z-index: 600;
}

/*# sourceMappingURL=game.css.map */
