@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

@import "./_variables.scss";

@import "./player.scss";

html, body, #root, .fill_parent {
	height: 100%;
	width: 100%;
	margin: 0px;
}

.timer {
	font-size: 40px;
	background: -webkit-linear-gradient($blue-light, $green-light);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.clickable:hover {
	cursor: pointer;
}

.game_page {
	height: 100%;
	width: 100%;
}

// ROW 1 OF THE GAME CONTAINER:
.game_page_row1 {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.timer_section {
	flex: 1 0 25%;
}

.judge_section {
	flex: 2 0 50%;

}

.notification_section {
	flex: 1 0 25%;

}

// ROW 2 OF THE GAME CONTAINER:
.game_page_row2 {
	width: 100%;
	justify-content: center;
}

// ROW 3 OF THE GAME CONTAINER:
.game_page_row3 {
	width: 100%;
	height: 30%;
	display: flex;
}

.game_code_section {
	flex: 1 0 25%;
	background: -webkit-linear-gradient($blue-light, $green-light);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

  	font-size: 30px;
}

.user_actionables {
	flex: 2 0 50%;
}

.chat_box_section {
	flex: 2 0 20%;
}