@import url('https://fonts.googleapis.com/css?family=Questrial|Thasadith');

@import "./_variables.scss";

div {
	font-family: 'Raleway', sans-serif;
	display: block;
	text-align: center;

}

.home_page {
	height: 100%;
	width: 100%;
}
.logo_container {
	display: inline-block;
	height: 160px;
	width: 160px;
	overflow: hidden;
	border-radius: 80px;
	margin-top: 15px;

	box-shadow: 2px 3px 0px 0px $medium-gray;
}

.logo {
	height: 100%;
	width: 100%;
}

body {
	background-color: $background-v1;
}

.logo:hover {
	



    // -webkit-animation:spin 1s linear ;
    // -moz-animation:spin 1s linear ;
    // animation:spin 1s linear ;
}
// @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
// @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
// @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.home_center {
	display: block;
    font-size: 2em;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

	height: 500px;
	text-align: center;
}

.login_center {
	@extend .home_center;
	display: block;
}

.title {
	font-family: "Thasadith", sans-serif;
	text-align: center;
	font-size: 120px;
	text-align: center;
	font-weight: 1000;

	letter-spacing: 0.05em;

	background: -webkit-linear-gradient($blue-light, $green-light);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

  	filter: drop-shadow(2px 3px $medium-gray);
  	&:hover{
		color:#f2f;
		-webkit-animation: flash linear 1s;
		animation: flash linear 1s;
	}
}

/* Flash class and keyframe animation */

@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .2; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .2; } 
	100% { opacity: 1; }
}

.home_btn {

	color: $white;
	font-size: 25px;
	background-color: $blue-light;
	box-shadow: 0px 5px 0px $blue-medium;
	margin: 1em auto;
	padding: 10px;
	text-align: center;
	width: 150px;


	border-radius: 0.4em;

	text-decoration: none;


	&:hover {
	background: $blue-medium;
	box-shadow: 0 5px $blue-dark;
	cursor: pointer;
	}

	&:active {
	  background-color: $blue-medium;
	  box-shadow: 0 2px $blue-dark;
	  transform: translateY(3px);
	}
}

.login_btn {
	@extend .home_btn;
	display: inline-block;

}


// TUTORIAL STUFF GOES HERE


.tutorial {
	overflow-y: auto;
	margin: 5px;

	background-color: $background-v1;

	padding: 15px;

	width: 800px;

	max-width: 90%;

	> h2 {
		margin-top: 5px;
	}

	> .tutorial_caption {
		padding: 10px;
	}
}
