@import url('https://fonts.googleapis.com/css?family=Questrial|Thasadith');

@import "./_variables.scss";

div {
	font-family: 'Thasadith', sans-serif;
	display: block;
}

body {
	background-color: $background-v1;
}

.home_center {
	margin-top: 10%;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;

	height: 500px;

	text-align: center;
}

.login_center {
	@extend .home_center;
	display: block;
}

.title {
	font-size: 160px;
	text-align: center;
	font-weight: 1000;

	letter-spacing: 0.05em;

	background: -webkit-linear-gradient($blue-light, $green-light);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

  	filter: drop-shadow(2px 5px $medium-gray);
  	&:hover{
		color:#f2f;
		-webkit-animation: flash linear 1s;
		animation: flash linear 1s;
	}
}

/* Flash class and keyframe animation */

@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .2; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .2; } 
	100% { opacity: 1; }
}
.home_btn {

	color: $white;
	font-size: 25px;
	background-color: $blue-light;
	box-shadow: 0px 5px 0px $blue-medium;
	margin: 1em auto;
	padding: 10px;
	text-align: center;
	width: 150px;


	border-radius: 0.4em;

	text-decoration: none;

	&:hover {
	background: $blue-medium;
	box-shadow: 0 5px $blue-dark;
	}

	&:active {
	  background-color: $blue-medium;
	  box-shadow: 0 2px $blue-dark;
	  transform: translateY(3px);
	}
}

.login_btn {
	@extend .home_btn;
	display: inline-block;

}
