@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

@import "./_variables.scss";

.lobby_page{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}

.non_start_btn {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 9;
}

.start_btn_div {
	flex: 1;
}

.game_info {
	flex: 2 2 0;
	justify-content: center;
	margin: 15px;
}

.whos_joined {
	flex: 5 5 0;
	margin: 20px;

}

.game_code {
	text-align: center;
	font-size: 70px;
	text-align: center;
	font-weight: 1000;

	letter-spacing: 0.05em;

	background: -webkit-linear-gradient($blue-light, $green-light);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

  	filter: drop-shadow(2px 4px $medium-gray);
}

.game_settings{
	text-align: center;
	font-size: 30px;
	text-align: center;
	font-weight: 1000;

	letter-spacing: 0.05em;

	background: -webkit-linear-gradient($blue-light, $green-light);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

  	filter: drop-shadow(1px 2px $medium-gray);
}


.start_game_btn {
	color: $white;
	font-size: 25px;
	background-color: $medium-gray;
	box-shadow: 0px 5px 0px $dark-gray;
	margin: 1em auto;
	padding: 10px;
	text-align: center;
	width: 150px;
	border-radius: 0.4em;
	text-decoration: none;
}

.disabled_start_btn {
	@extend .start_game_btn;
	background-color: $medium-gray;
	box-shadow: 0px 5px 0px $dark-gray;
}

.enabled_start_btn {
	@extend .start_game_btn;

	background-color: $blue-light;
	box-shadow: 0px 5px 0px $blue-medium;

	&:hover {
	background-color: $blue-medium;
	box-shadow: 0 5px $blue-dark;
	cursor: pointer;
	}

	&:active {
	  background-color: $blue-medium;
	  box-shadow: 0 2px $blue-dark;
	  transform: translateY(3px);
	}
}