@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
.modal_window {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_window > .modal {
  position: relative;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal_window > .modal > .modal_box {
  background-color: #A5C3E5;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_close_btn {
  position: absolute;
  right: -13px;
  top: -16px;
  color: #F4F4F4;
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  pointer-events: auto;
}
.modal_close_btn:hover {
  color: #CCCCCC;
  cursor: pointer;
}

.modal_command {
  font-size: 40px;
  color: #F4F4F4;
}

.modal_container, .modal_container_card, .modal_container_jcard_selector, .modal_container_join {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  height: 60%;
  width: 60%;
  text-align: center;
  font-size: 20px;
  z-index: 600;
}

.modal_container_join {
  height: 250px;
  width: 350px;
}

.modal_container_jcard_selector {
  height: 60%;
  width: 60%;
  max-width: 90%;
}

.modal_container_card {
  height: 560px;
  width: 380px;
}

.modal_contents, .modal_contents_card, .modal_contents_jcard_selector {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  height: 90%;
  width: 90%;
  z-index: 700;
  opacity: 0%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 15px;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.8);
  text-align: center;
  overflow: hidden;
}

/*
.modal_contents_join {
  @extend .modal_contents;
  background-color: $background-v1;
  height: 200px;
  width: 300px;
}
*/
.modal_contents_join {
  padding: 20px 40px;
  background-color: #A5C3E5;
  border-radius: 15px;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_contents_jcard_selector {
  display: flex;
  flex-direction: column;
  box-shadow: none;
}

.modal_contents_card {
  background-color: #A5C3E5;
  height: 540px;
  width: 360px;
}

/*
.modal_close_btn {
  position: fixed;
  color: $white;
  font-size: 100%;
  right: 5px;
  text-align: center;
  top: 5px;
  text-decoration: none;

  &:hover {
    color: $light-gray;
    cursor: pointer;
  }

  pointer-events: auto;
}
*/
h3 {
  color: #3B3B3D;
}

.modal_text_input {
  border-radius: 5px;
  padding: 8px;
  background-color: #F4F4F4;
  pointer-events: auto;
}

.modal_btn {
  color: #F4F4F4;
  background-color: #0683E2;
  padding: 10px 50px;
  margin: 1em auto;
  max-width: 50%;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #0677CE;
  pointer-events: auto;
}
.modal_btn:active {
  background-color: #0677CE;
  box-shadow: 0px 2px 0px #056BBA;
  transform: translateY(1px);
}
.modal_btn:hover {
  background: #0677CE;
  box-shadow: 0px 5px 0px #056BBA;
  cursor: pointer;
}

.container {
  height: 500px;
  width: 333px;
  overflow: hidden;
}

img {
  height: 100%;
}

/*# sourceMappingURL=modal.css.map */
