@import url('https://fonts.googleapis.com/css?family=Questrial|Thasadith|Raleway');

@import "./_variables.scss";

.pcard_editor {
    position: relative;
    height: 80vh;
    width: 50vh;
    background-color: $background-v1;
    border-radius: 0 15px 15px;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > input[value='Pan'] {
        position: absolute;
        font-family: "Raleway", sans-serif;
        color: $white;
        height: 10vh;
        top: 0;
        width: 10vh;
        left: -10vh;
        border-radius: 3vh 0 0 3vh;
        border: none;
        cursor: pointer;
        background-color: darken($background-v1, 50%);

        &[clicked='true'] {
            background-color: $background-v1;
            color: $black;
        }

        &:focus {
            outline: none;
        }
    }

    > input[value="Draw"] {

        font-family: "Raleway", sans-serif;
        position: absolute;
        color: $white;
        height: 10vh;
        top: 10vh;
        width: 10vh;
        left: -10vh;
        border-radius: 3vh 0 0 3vh;
        border: none;
        cursor: pointer;
        background-color: darken($background-v1, 50%);

        &[clicked='true'] {
            background-color: $background-v1;
            color: $black;
        }

        &:focus{
            outline: none;
        }
    }

    > .pan_tools {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > span {

        }
        
        > #zoom {
            direction: rtl;
        }
    }

    > .draw_tools {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        > #color {

        }

        > #pen_size {

        }

        > #pen_preview {
            border-radius: 50%;
        }
    }

    > .submit_card_btn {

    color: $white;
    font-size: 15px;
    background-color: $green-light;
    box-shadow: 0px 5px 0px $green-medium;
    margin: 1em auto;
    padding: 6px;
    text-align: center;
    
    width: 60px;


    border-radius: 0.4em;

    text-decoration: none;


    &:hover {
    background: $green-medium;
    box-shadow: 0 5px $green-dark;
    cursor: pointer;
    }

    &:active {
      background-color: $green-medium;
      box-shadow: 0 2px $green-dark;
      transform: translateY(3px);
    }
      }
}