@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

@import "./_variables.scss";

.player_list {
	text-align: center;
}

.player_info {
	display: flex;
	width: 400px;
}

.avatar_container {
	width: 100px;
	height: 100px;
	margin-right: 15px;
}

.cropped_avatar {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	overflow: hidden;
}

.player_details {


}

.user_name {

}

.player_other {
	display: flex;
}

.player_score {

}


