@import url("https://fonts.googleapis.com/css?family=Raleway|Thasadith");
.profile_text {
  font-family: "Thasadith", sans-serif;
}

h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 1000;
  letter-spacing: 0.05em;
  background: -webkit-linear-gradient(#0683E2, #12B780);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 2px #7E7C82);
}
h1:hover {
  color: #f2f;
  -webkit-animation: flash linear 1s;
  animation: flash linear 1s;
}

h2 {
  font-size: 26px;
}

.edit_profile {
  padding: 5px;
}
.edit_profile > h2 {
  margin-top: 5px;
  font-size: 28px;
}
.edit_profile > div {
  margin: 5px;
  padding: 5px;
  font-size: 16px;
}
.edit_profile > div > label {
  color: #3B3B3D;
}
.edit_profile > div > input, .edit_profile > div textarea {
  padding: 4px;
  border-radius: 2px;
  font-family: "Raleway", sans-serif;
  color: #3B3B3D;
  background-color: #F4F4F4;
  font-size: 12px;
}
.edit_profile > input {
  color: #F4F4F4;
  font-size: 15px;
  background-color: #12B780;
  box-shadow: 0px 4px 0px #10A070;
  margin: 1em auto;
  padding: 8px;
  text-align: center;
  width: 70px;
  font-family: "Raleway", sans-serif;
  border-width: 0px;
  border-radius: 0.4em;
  text-decoration: none;
}
.edit_profile > input:hover {
  background: #10A070;
  box-shadow: 0 5px #0E8C62;
  cursor: pointer;
}
.edit_profile > input:active {
  background-color: #10A070;
  box-shadow: 0 2px #0E8C62;
  transform: translateY(3px);
}

.my_profile {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.profile_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.photo_section {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.circle_picture_container {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 2px 4px 0px #7E7C82;
  margin: 10px;
}

.square_picture_container {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 2px 4px 0px #7E7C82;
}

.profile_picture {
  height: 100%;
  width: 100%;
}

.edit_btn {
  color: #F4F4F4;
  font-size: 15px;
  background-color: #12B780;
  box-shadow: 0px 5px 0px #10A070;
  margin: 1em auto;
  padding: 4px;
  text-align: center;
  width: 50px;
  border-radius: 0.4em;
  text-decoration: none;
}
.edit_btn:hover {
  background: #10A070;
  box-shadow: 0 5px #0E8C62;
  cursor: pointer;
}
.edit_btn:active {
  background-color: #10A070;
  box-shadow: 0 2px #0E8C62;
  transform: translateY(3px);
}

.info_section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: 10px;
  flex: 2.5;
  justify-content: center;
}

.profile_name {
  text-align: left;
}
.profile_name > h2 {
  font-size: 36px;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 5px;
}

.profile_description {
  word-wrap: break-word;
  max-width: 360px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 16px;
}

.profile_social_media {
  text-align: left;
  display: inline;
  overflow-wrap: break-word;
}

.profile_media_section {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.profile_media_section > div {
  text-align: left;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.profile_media_section > div > div {
  margin-right: 0px;
}
.profile_media_section > div > .media_text {
  overflow-wrap: break-word;
  width: 300px;
  margin: 10px auto;
  text-align: left;
}

.saved_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50px;
  right: 50px;
}

/*# sourceMappingURL=profile.css.map */
